.vscode/
Library/
Logs/
Temp/
Obj/
Build/
Builds/
.idea/
.DS_Store/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.sln


# TBignore
# User-specific
UserSettings/
.vs/
*.suo
*.user
*.csproj
*.sln
*.db
*.dwlt
*.htm
*.json

# Ignore local dev settings
.vsconfig